@import "ember-modal-dialog/ember-modal-structure.css";
@import "ember-modal-dialog/ember-modal-appearance.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Buttons */
.btn {
  @apply py-2 px-4 rounded;
}

.btn-primary {
  @apply text-white font-bold bg-orange-500;
}

.btn-primary:hover {
  @apply bg-orange-600;
}

.btn-secondary {
  @apply bg-transparent text-orange-600 font-semibold border border-orange-600;
}

.btn-secondary:hover {
  @apply bg-orange-600 text-white border-transparent;
}

.btn-disabled {
  @apply bg-orange-500 text-white font-bold opacity-50 cursor-not-allowed;
}

.btn-text {
  font-family: Fjalla One;
  text-align: center;
}

/* Links */
.link {
  @apply underline;
}

.link-about {
  @apply text-gray-600;
}

.link-feedback {
  @apply text-orange-500;
}

.link-text {
  line-height: 25px;
  text-align: center;

  @apply text-gray-600;
}

/* Text */
.font-fjalla {
  font-family: Fjalla One;
}

.font-roboto {
  font-family: Roboto;
}

.text-header--feedback {
  font-family: Fjalla One;
  @apply text-center;
}

.text-header--nav {
  font-family: Fjalla One;
  @apply text-lg;
}

.text-header--analysis {
  font-family: Fjalla One;
  @apply text-center text-2xl text-black;
}

.text-subheader--feedback {
  font-family: Roboto;
  font-style: italic;
  @apply text-gray-600;
}

.text-answer--feedback {
  font-family: Roboto;
  @apply text-orange-500 text-center;
}

.text--good-characteristics {
  color: #02BB14;
}

.text--bad-characteristics {
  color: #FF0404;
}

.text--score-percentage {
  font-family: Fjalla One;
  @apply text-center;
}

.text-feedback {
  @apply text-black;
}

.text--overall-score {
  font-family: Fjalla One;
  @apply uppercase text-black text-center;
}

.text--file-upload {
  font-family: Roboto;
  @apply text-center italic;
}

/* Photos */
.logo {
  width: 115px;
  height: 119px;
  border: 0px;
}

.icon {
  width: 15px;
  height: 15px;
  border: 0px;
}

.animal-photo {
  width: 200px;
  height: 200px;
  @apply bg-cover shadow w-64;
}

.animal-photo--large {
  width: 450px;
  height: 450px;
  @apply bg-cover shadow;
}

.feedback-box {
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
}
